// COLORS
$whiteColor: #fff;
$whiteDisabledColor: #e5e5e5;

$blackColor: #000;
$blackOpacityHover: rgba(0, 0, 0, 0.8);
$blackOpacityColor: rgba(0, 0, 0, 0.5);

$greyColor: #545454;
$greyBorderColor: rgba(84, 84, 84, 0.7);
$greyAvatarElColor: #c4c4c4;

$redColor: red;

// FONT

$mainFont: "Inter", Arial, Helvetica, sans-serif;
$cutFont: 'Inter', Arial, sans-serif;
$InterFont: 'Inter';

// ELEMENTS

$largeScreen: 1fr 1fr 1fr;
$middleScreen: 1fr 1fr;
$smallScreen: 1fr;
